@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

.ExpiredDocuments li {
  color: red;
  font-size: large;
  font-family: "Dosis", sans-serif;
}

.WorkersList-selected {
  color: yellow;
  font-size: large;
  font-weight: bold;
}
