.avatar {
  margin: 10px;
  border: 2px solid black;
  height: 50px;
  width: 50px;
}

.file-upload-container {
  border: 2px dotted #aaa;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.file-upload-container.drag {
  background-color: #ddd;
}

.file-upload-container input[type="file"] {
  display: none;
}

.file-upload-container button {
  background: #aaa;
  color: #fff;
  padding: 10px 20px;
  width: 20%;
  margin: 0 auto;
}

.file-upload-container .upload-preview {
  list-style-type: none;
}

.file-upload-container.uploading {
  background-color: #ccc;
}

.file-upload-container li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.file-upload-container img {
  width: 50px;
  height: 50px;
}

.file-upload-container span {
  margin-left: 10px;
}

.upload-btn {
  width: 100%;
  margin: 20px 0;
}
