@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
  background-image: url(../img/puig.jpg);
  background-size: contain;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

header {
  background-color: rgb(120, 194, 194);
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > div > nav {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space;
}

header > div > nav > a {
  padding-left: 30px;
  padding-right: 20px;
  font-size: 1.4rem;
  text-decoration: none;
}

header > div > a {
  font-size: 1.3rem;
  text-decoration: none;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1rem;
}

header li {
  padding-left: 3rem;
  font-size: 1.5rem;
}

li {
  list-style: none;
  font-size: 1.5rem;
  padding-bottom: 4px;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
}

li:hover {
  font-weight: bolder;
}

.expired a {
  color: red;
  overflow-y: scroll;
  padding-left: 10px;
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.expiring a {
  color: yellow;
  overflow-y: scroll;
  padding-left: 10px;
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

span {
  font-size: 3rem;
  color: green;
}

.panel-columns-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  height: 80vh;
}

.panel-column1-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 10%;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-column2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 40%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-column2-container h1 {
  padding-bottom: 10px;
  font-size: 2rem;
  color: gray;
}

.panel-column2-container div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.panel-column2-container div ul {
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(120, 194, 194);
}

.panel-column3-container {
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  text-align: left;
  flex-basis: 40%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-column3-container h1 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.panel-column3-container-valoracion {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 10px;
  border-style: groove;
  align-self: center;
  border-radius: 50px;
}

.trabajadores-columns-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  height: 80vh;
}

.trabajadores-column1-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0.7);
}

.li-actuaciones {
  min-height: 20em;

  width: 30em;
  overflow-y: scroll;
  border: 1px solid black;
  padding-left: 1rem;
  background-color: rgb(120, 194, 194);
}

.actuaciones-container-info ul {
  overflow-y: scroll;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: rgb(120, 194, 194);
  min-height: 25em;
  max-height: 25em;
}

.WorkersList-selected,
.ProjectsList-selected {
  color: yellow;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  flex: 1;
}

.btn-container button {
  /*width: 100%;*/
}

.trabajadores-column1-container h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.trabajadores-column1-container ul {
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: rgb(120, 194, 194);
}

.trabajadores-inactivos-button {
  margin-top: 2rem;
  width: 50%;
}

.actuaciones-crear-nueva-actuacion-button {
  margin-top: 2rem;
  width: 50%;
}

.trabajadores-column2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 50%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.trabajadores-column2-container form {
  background-color: rgb(226, 218, 105);
}

.trabajadores-column2-container input {
  display: flex;
  flex-direction: row;
  background-color: rgb(233, 227, 229);
  border: 1px solid black;
  border-radius: 5px;
  color: green;
  padding: 25px;
  margin: 5px;
  flex-basis: 60%;
  width: 70%;
  border: none;
}

.trabajadores-column2-container-file-upload {
  background-color: rgb(226, 218, 105);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trabajadores-column2-container-file-upload label,
a {
  width: 5em;
}

.trabajadores-column3-container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  text-align: left;
  flex-basis: 40%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.trabajadores-column3-container h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.trabajadores-column3-container ul {
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: rgb(120, 194, 194);
}

.actuaciones-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1rem;
}

.actuaciones-form input {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: green;
  padding: 10px;
  margin: 5px;
  flex-basis: 60%;
  width: 70%;
  border: none;
}

.actuaciones-columns-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  height: 80vh;
}

.actuaciones-column1-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 30%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.7);
}

.actuaciones-column1-container h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.actuaciones-column1-square-btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #0a2239;
  background-color: rgb(120, 194, 194);
  transition: 0.4s;
  margin-top: 1rem;
  border: double 4px #0a2239;
  width: 12rem;
}

.actuaciones-column2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 30%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.actuaciones-column2-container div {
  display: flex;
  flex: 1;
}

.actuaciones-column2-container div h1 {
  font-size: 2rem;
}

.actuaciones-column2-container div h2 {
  font-size: 1.5rem;
  margin-bottom: -2rem;
}

.actuaciones-column2-container-description {
  overflow-y: scroll;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 15px;
}

.img {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.img:hover {
  /*filter: blur(5px);
  filter: grayscale(80%);*/
  filter: saturate(200%);
  transition: all 0.8s ease-in-out;
  box-shadow: 2px -1px 6px 0px black;
}

.actuaciones-column3-container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  text-align: left;
  flex-basis: 30%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

footer {
  background-color: rgb(120, 194, 194);
  font-size: 2rem;
  /*padding: 1rem;*/
}

#logout {
  text-align: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert {
  padding: 10px;
  background-color: red;
  color: greenyellow;
  opacity: 0.3;
  border-radius: 5px;
  margin: 10px 0;
  font-size: medium;
}

.alert span {
  margin-left: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.selected {
  background-color: white;
  color: blue;
  font-size: large;
}

.circlebutton {
  display: inline-block;
  text-decoration: none;
  color: #0a2239;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  border: double 4px #0a2239;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.6s;
  font-size: 1.5rem;
  background-color: rgb(120, 194, 194);
}

.circlebutlton-upoad {
  display: inline-block;
  text-decoration: none;
  color: #0a2239;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  border: double 4px #0a2239;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.6s;
  font-size: 1.5rem;
  background-color: rgb(120, 194, 194);
}

.circlebutton:hover {
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.victory {
  width: 100%;
}

/* .caja {
  width: 25%;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  background: #1239a3;
  padding: 20px;
  margin: 25px;
  overflow: hidden;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
} */

.trabajadores-column1-square-btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #0a2239;
  background-color: rgb(120, 194, 194);
  transition: 0.4s;
  margin-top: 1rem;
  border: double 4px #0a2239;
  width: 12rem;
}

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0.15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.centered-container h3 {
  font-size: 25px;
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}

.centered-container .form-control {
  position: relative;
}

.centered-container .form-control input {
  width: 70%;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.centered-container .form-control label {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.button-container button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.fa-button {
  background-color: blue;
  height: 4rem;
}
