@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
  background-image: url(../img/puig.jpg);
  background-size: contain;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

header {
  background-color: rgb(29, 58, 104);
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12vh;
}

header h1 {
  padding-top: 10px;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > div > nav {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space;
}

header > div > nav > a {
  padding-left: 30px;
  padding-right: 20px;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

header > div > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1rem;
}

header li {
  padding-left: 3rem;
  font-size: 1.5rem;
}

li:hover {
  font-weight: bolder;
}

.expiring a {
  color: black;
  overflow-y: scroll;
  padding-left: 10px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/*
span {
  font-size: 3rem;
  color: green;
}*/

.panel-columns-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  height: 80vh;
}

.panel-column1-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 10%;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-column2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 40%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-column2-container h2 {
  padding-bottom: 10px;
  font-size: 24px;
  color: #1d3a68;
}

.panel-column2-container div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.panel-column2-container1 {
  overflow-y: scroll;
  border: 5px solid red;
  border-radius: 5px;
  background-color: #d6d5d5;
  padding-left: 20px;
}

.panel-column2-container1 li {
  padding-bottom: 8px;
  font-size: 18px;
  list-style: none;
}

.panel-column2-container1 a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.panel-column2-container2 {
  overflow-y: scroll;
  border: 5px solid rgb(219, 219, 25);
  border-radius: 5px;
  background-color: #d6d5d5;
  padding-left: 20px;
}

.panel-column2-container2 li {
  padding-bottom: 8px;
  font-size: 18px;
  list-style: none;
}

.panel-column2-container2 a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.panel-column3-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  text-align: left;
  flex-basis: 40%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-column3-container h2 {
  font-size: 24px;
  color: #1d3a68;
  margin-top: -15px;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.panel-column3-container-datos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #d6d5d5;
  border: 2px solid rgb(29, 58, 104);
  border-radius: 5px;
}

.panel-column3-container-inputs-valoracion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.select {
  display: block;
  width: min-content;
  background-color: #215ca0;
  text-align: center;
  margin: 0.2rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding-left: 2px;
}

.panel-column3-container-valoracion {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #fb7555;
  color: white;
  padding: 10px;
  align-self: center;
  border-radius: 50px;
}

.valoracion-span {
  color: green;
  font-size: 2rem;
  padding-right: 5px;
}

.valoracion-div {
  color: red;
  font-size: 1rem;
  text-align: right;
}

.trabajadores-columns-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  height: 80vh;
}

.trabajadores-column1-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0.7);
}

.li-actuaciones {
  min-height: 20em;

  width: 30em;
  overflow-y: scroll;
  border: 1px solid black;
  padding-left: 1rem;
  background-color: rgb(120, 194, 194);
}

.actuaciones-container-info ul {
  overflow-y: scroll;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: rgb(120, 194, 194);
  min-height: 25em;
  max-height: 25em;
}

.WorkersList-selected,
.ProjectsList-selected {
  color: yellow;
  font-size: 18px;
  font-weight: bold;
  background-color: #215ca0;
}

.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  flex: 1;
}

.btn-container button {
  /*width: 100%;*/
}

.trabajadores-column1-container h1 {
  padding-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #1db100;
}

.trabajadores-column1-container ul {
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: #d6d5d5;

  font-size: 18px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.trabajadores-column1-container li {
  list-style: none;
  padding-bottom: 8px;
  cursor: pointer;
}

.trabajadores-inactivos-button {
  margin-top: 2rem;
  width: 50%;
}

.actuaciones-crear-nueva-actuacion-button {
  margin-top: 2rem;
  width: 50%;
}

.trabajadores-column2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
  flex-basis: 50%;
  margin: 10px;
  background-color: rgb(214, 213, 213, 0.8);
  border: 1px solid black;
}

.trabajadores-column2-container h2 {
}

.trabajadores-column2-container form {
  /*background-color: rgb(226, 218, 105);*/
  padding-top: 30px;
}

.trabajadores-column2-container input {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  color: #fb7555;
  font-weight: bold;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 50px;

  flex-basis: 65%;
  width: 100%;
  border: none;
  font-size: 18px;
}

.trabajadores-column2-container label {
  padding-left: 30px;
  font-size: 20px;
}

.trabajadores-column2-container-file-upload {
  /*background-color: rgb(226, 218, 105);*/

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trabajadores-column2-container-file-upload label,
a {
  width: 5em;
}

.trabajadores-column2-container-file-upload input,
a {
  background-color: transparent;
}

.trabajadores-column3-container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  text-align: left;
  flex-basis: 40%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.trabajadores-column3-container h1 {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
  font-size: 24px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.trabajadores-column3-container ul {
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: #d6d5d5;
  font-size: 18px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.trabajadores-column3-container li {
  list-style: none;
  padding-bottom: 8px;
  cursor: pointer;
}

.actuaciones-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1rem;
}

.actuaciones-form input {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: green;
  padding: 10px;
  margin: 5px;
  flex-basis: 60%;
  width: 70%;
  border: none;
}

.actuaciones-columns-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  height: 80vh;
}

.actuaciones-column1-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0.7);
}

.actuaciones-column1-container ul {
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid black;
  width: 95%;
  padding-left: 1rem;
  background-color: #d6d5d5;

  font-size: 18px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.actuaciones-column1-container li {
  list-style: none;
  padding-bottom: 8px;
  cursor: pointer;
}

.actuaciones-column1-container h1 {
  padding-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #1db100;
}

.actuaciones-column1-square-btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #0a2239;
  background-color: rgb(120, 194, 194);
  transition: 0.4s;
  margin-top: 1rem;
  border: double 4px #0a2239;
  width: 12rem;
}

.actuaciones-column2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  flex-basis: 30%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.actuaciones-column2-container div {
  display: flex;
  flex: 1;
}

.actuaciones-column2-container div h1 {
  font-size: 2rem;
}

.actuaciones-column2-container div h2 {
  font-size: 1.5rem;
  margin-bottom: -2rem;
}

.actuaciones-column2-container-description {
  overflow-y: scroll;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 15px;
  background-color: #d6d5d5;
}

.img {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.img:hover {
  /*filter: blur(5px);
  filter: grayscale(80%);*/
  filter: saturate(200%);
  transition: all 0.8s ease-in-out;
  box-shadow: 2px -1px 6px 0px black;
}

.actuaciones-column3-container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px -1px 6px 0px black;
  text-align: left;
  flex-basis: 30%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.actuaciones-column3-container h2 {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}

.actuaciones-column3-container ul {
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  padding-left: 1rem;
  background-color: #d6d5d5;
  font-size: 18px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.actuaciones-column3-container li {
  list-style: none;
  padding-bottom: 8px;
  cursor: pointer;
}

footer {
  background-color: #1d3a68;
  height: 3vh;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 3px;
}

#logout {
  text-align: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert {
  padding: 10px;
  background-color: red;
  color: greenyellow;
  opacity: 0.3;
  border-radius: 5px;
  margin: 10px 0;
  font-size: medium;
}

.alert span {
  margin-left: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.selected {
  background-color: white;
  color: blue;
  font-size: large;
}

.circlebutton {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  /*border: double 4px #0a2239;*/
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.6s;
  font-size: 1.5rem;
  background-color: #215ca0;
}

.circlebutlton-upoad {
  display: inline-block;
  text-decoration: none;
  color: #0a2239;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  border: double 4px #0a2239;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.6s;
  font-size: 1.5rem;
  background-color: rgb(120, 194, 194);
}

.circlebutton:hover {
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.victory {
  width: 100%;
}

/* .caja {
  width: 25%;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  background: #1239a3;
  padding: 20px;
  margin: 25px;
  overflow: hidden;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
} */

.trabajadores-inactivos {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background-color: #215ca0;
  transition: 0.4s;
  margin-top: 1rem;
  width: 12rem;
  font-size: 14px;
}

.crear-nuevo-trabajador {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background-color: rgb(29, 58, 104);
  transition: 0.4s;
  margin-top: 1rem;
  width: 12rem;
  font-size: 14px;
  margin-bottom: 15px;
}

.limpiar-formulario {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background-color: #215ca0;
  transition: 0.4s;
  margin-top: 1rem;
  width: 12rem;
  font-size: 14px;
  margin-bottom: 15px;
}

.desactivar-trabajador {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(29, 58, 104);
  background-color: rgb(255, 165, 0);
  transition: 0.4s;
  margin-top: 1rem;
  width: 12rem;
  font-size: 14px;
  margin-bottom: 15px;
}

.crear-nueva-actuacion {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background-color: #215ca0;
  transition: 0.4s;
  margin-top: 1rem;
  width: 12rem;
  font-size: 14px;
}

.agregar {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(29, 58, 104);
  background-color: orange;
  transition: 0.4s;
  margin-top: 1rem;
  width: 12rem;
  font-size: 14px;
  margin-bottom: 15px;
}

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0.15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.centered-container h3 {
  font-size: 25px;
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}

h3 {
  font-size: 18px;
  color: #1d3a68;
  font-family: "Open Sans", sans-serif;
}

.centered-container .form-control {
  position: relative;
}

.centered-container .form-control input {
  width: 70%;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.centered-container .form-control label {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.button-container button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.fa-button {
  background-color: #215ca0;
  color: white;
  padding: 8px;
  margin-bottom: 30px;
  border-radius: 15px;
}
